/* PERMET D'AFFICHER LE CURSEUR DANS LES INPUTS ET TEXTAREA */
input
{
  caret-color: black;
}
textarea
{
  caret-color: black;
}

.display-4
{
  font-size: 1.8rem;
}

body
{
  caret-color: transparent;
  /*
  background: rgb(213, 231, 180);
  */
}

/* --------------------------------------- Hamburger --------------------------------------- */
.navbar.navbar-7 .navbar-toggler-icon 
{
  background-image: url('https://image.flaticon.com/icons/png/512/60/60995.png');
  border-style: ridge;
  border-color: black;
}

.navbar.navbar-7
{
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
}

.card.shadow-sm
{
  border-style: solid;
  border-color: black;
}
.card
{
    background-color: white;
}

.imageCategorie 
{
    max-width: 100%;
    width: 20rem;
    height: 20rem;
}

.imageQuiz
{
    max-width: 100%;
    height: 20rem;
}

.zoom 
{
    padding: 10px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
  
.zoom:hover 
{
    transform: scale(1.07); /* (1.5 = 150% zoom) */
}

.cardFooterCategorie
{
    background-color: white;
}

/* --------------------------------------- Flèche retour --------------------------------------- */
.fleche
{
    padding-bottom: 3px;
    height: 32px;
    width: 30px;
}
.retour 
{
    text-decoration: none;    
    color: #373A3C;
    font-size: 1.4rem;
}

a:hover {
    text-decoration: none;
}

.avatarProfil
{
  width: 9rem;
  height: 9rem;
}

/* ------------------------------------- Bouton ajout ami ------------------------------------- */
div.show-image 
{
  position: relative;
  float:left;
  margin:5px;
  text-align:center;
}

div.show-image:hover img
{
  opacity:0.5;
}

div.show-image:hover input 
{
  display: block;
}

div.show-image input 
{
  display:none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ----------------------------------------- Quiz ----------------------------------------- */
/*
*, *::before, *::after  /* Selectionne tous les élements */
/*
{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root
{
  --hue-neutral: 200;
  --hue-correct: 145;
  --hue-wrong: 0;
}

.container-pageQuiz
{
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100, 20%);
}

body.correct
{
  --hue: var(--hue-correct);
}
*/